.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Landing-Page
{
  position: relative;
  width: 1920px;
  height: 1080px;

background: #FFFFFF;
}

.Login-Text{
  position: absolute;
  width: 569px;
  height: 132px;
  left: 1079px;
  top: 195px;
}

.Welcome{
  position: absolute;
  width: 687px;
  height: 205px;
  left: 196px;
  top: 433px;
}

.Login-Rectangle{
  position: absolute;
  width: 518px;
  height: 91px;
  left: 1105px;
  top: 413px;
  
  background: #000000;
  border-radius: 30px;
}

.Left-Login{
  position: absolute;
  width: 824px;
  height: 850px;
  left: 128px;
  top: 110px;
  
  background: #FAE6A0;
  border-radius: 50px 0px 0px 50px;
}
.Right-Login{
  position: absolute;
width: 824px;
height: 850px;
left: 952px;
top: calc(50% - 850px/2 - 5px);

background: #F8C615;
border-radius: 0px 50px 50px 0px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
